html {
    background-color: #000000;
    height: 100%;
}

body {
    color: #FFFFFF;
    display: flex;
}

.words {
    margin: 0 auto;
    padding: 80px 0;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 68px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    transform: translate3d(0,0,0);
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
}

.words-line {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.words-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.66667);
}

.words-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(0.33333);
}

.words-line:nth-child(1) {
    left: 29px;
}

.words-line:nth-child(2) {
    left: 58px;
}

.words-line:nth-child(3) {
    left: 87px;
}

.words-line:nth-child(4) {
    left: 116px;
}

.words-line:nth-child(5) {
    left: 145px;
}

.words-line:nth-child(6) {
    left: 174px;
}

.words-line:nth-child(7) {
    left: 203px;
}

p {
    height: 50px;
    line-height: 45px;
    padding: 0 10px;
    transition: all 0.4s ease-in-out;
    transform: translate3d(0,0,0);
    vertical-align: top;
    white-space: nowrap;
}

.words:hover p {
    transform: translate3d(0, -50px, 0);
}